
h1{
    color: black;
    text-align: center;
	background-color: aqua;
}



body{


    font-family: Arial, Helvetica, sans-serif;

}

#contenedor-1 {
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 25%;
	top: 30px;
	width: 50%;
	height: 100%;
	position: relative;
}

#contenedor-2 {
	justify-content: space-between;
	left: 35%;
	top: 130px;
	position: relative;
    width: 33%;
	height: 100%;
    flex-wrap: wrap;
	display: flex;
    align-items: center;
}

.componente-1 {
	position: relative;
	width: 65px;
	height: 65px;
	top: 10px;
	left: 10px;
	z-index: 4;
}

.componente-2{
    position: relative;
	width: 15%;
	height: 15%;
	top: 10px;
	left: 10px;
	z-index: 3;
}

.cielo {
	bottom: 0.6%;
	left: 22%;
    opacity: 0.7;
	z-index: 1;
	height: 80%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
}

.suelo {
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 22%;
	opacity: 0.5;
	z-index: -1;
	width: 60%;
	height: 45%;
	background: #d2c5e4;
	position: absolute;
}

